html
  body
    #intro
      .group_bannner_right
        img(src='images/bike.jpg', width='400', height='300', alt='baner')
      header.group_bannner_left
        hgroup
          h1 Should I buy it?
          h2 I want your opinion
